body {
  background-color: lightsalmon;
  margin: 0px;
  font-family: system-ui, sans-serif;
}

nav {
  font-size: 18px;
  background-color: white;
  padding: 0 16px;
}

#destinations {
  display: none;
}

@media (min-width: 550px) {
  #destinations {
    display: flex;
    gap: 16px;
  }

  #destinations-mobile {
    display: none;
  }
}
